@charset "UTF-8";

header {
    background-color: black;
    color: white;
    padding: 83px;
    margin: -2%;
    margin-bottom: 20px;
}
a:visited {
    color: white;
}

a:hover {
    color: rgb(193, 184, 146);
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    font-size: 140%;
    margin: 25px;
    margin-left: 0%;
    margin-right: 50%;

}

div.class1 {
    
    background-color: aquamarine;
}

